.product {
  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 48%;
    margin: 1% 1% 30px 1%;
  }

  &__image {
    width: 100%;
    aspect-ratio: 4/3;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
  }

  &__price {
    font-weight: 700;
    color: red;
  }
}

.pagination {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &__item {
    border: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
    margin-right: 4px;
  }
}