.box {
  background-color: #ddd;
  margin-bottom: 10px;
  font-size: 24px;
  padding: 30px;
  text-align: center;
}

.box--active {
  background-color: green;
}

.main {
  display: flex;
  justify-content: space-between;
}

.main .box:nth-child(2) {
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.main .box:nth-child(1),
.main .box:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input--active {
  background-color: yellow;
}
